.contact-btn {
    cursor: pointer;
    color: white;
    background-color: #F75F00;
    border-radius: 20px;
    border: white;
    height: 47px;
    width: 183px;
    margin-right: 5%;
    margin-top: 50px;
    font-size: 18px;
}

.header-left {
    /* margin-left: 5%; */
    margin-top: 25px;
    position: relative;
    display: inline-block;
}

.heading-container {
    position: relative;
    display: inline-block;
}

.header {
    display: flex;
    justify-content: space-between;
}

.heading {
    margin-left: 52px;
    font-size: 25px;
    position: absolute;
    top: 5%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

.heading-logo {
    height: 100px;
    width: 300px;
    margin-left: 15px;
    display: block;
}

.Inputname {
    border-radius: 10px;
    height: 30px;
    margin: 10px 0 10px 0;
    width: 100%;
    border-color: black;
}

.form {
    margin-left: 5%;
    margin-top: 50px;
    width: 43%;
}

.nameLabel {
    font-weight: 600;
    font-size: 20px;
}

.login-btn {
    cursor: pointer;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    color: aliceblue;
    background-color: #3F349A;
    border-radius: 25px;
    border-color: white;
    font-size: 20px;
}

.login-dashboard {
    display: flex;
}

.dashboard-right {
    width: 43%;
    margin: 0 5% 0 4%;
}

.right-img {
    width: 100%;
    height: 400px;
}

.remember {
    font-weight: 500;
}

.forgot-pass {
    display: flex;
    justify-content: space-between;
}

.forgot {
    margin: 0;
    color: #3F349A;
    font-weight: 500;
}

.below-text {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.text-black {
    font-weight: 500;
}

.text-orange {
    font-weight: 500;
    color: #F75F00;
}

@media (max-width: 768px) {
    .dashboard-right {
        display: none;
    }
    .forgot-pass {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        /* adds a little spacing between Remember Me and Forgot Password */
    }
    .below-text {
        flex-direction: column;
        align-items: center;
        gap: 4px;
        justify-content: center;
    }
}